name: Rust
permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2022, windows-2025, ubuntu-22.04, ubuntu-24.04, macos-14, macos-15 ]

    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install prereqs
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt-get update
        sudo apt-get install libfontconfig-dev
      if: matrix.os == 'ubuntu-24.04'  #Ugly hack, hopefully temporary
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
